@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom app styles can go below */

/* Example: set default body font if you have a font loaded */
html,
body {
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial;
}
